<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="false"
        android:theme="@style/Theme.PassLock"
        tools:targetApi="31">
        <activity
            android:name=".DailyTip"
            android:exported="false" />

        <receiver
            android:name=".Notification_reciever"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".PasswordEditActivity"
            android:exported="false" />
        <activity
            android:name=".PasswordsActivity"
            android:exported="false" />
        <activity
            android:name=".SigninActivity"
            android:exported="false" />
        <activity
            android:name=".PasswordGenerator"
            android:exported="false" />
        <activity
            android:name=".MenuDrawer"
            android:exported="false"
            android:label="@string/title_activity_menu_drawer"
            android:theme="@style/Theme.PassLock.NoActionBar" />
        <activity
            android:name=".EditActivity"
            android:exported="false" />
        <activity
            android:name=".splashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>